.work {
  margin-block-start: 4rem;
}

.work> :nth-child(1) {
  text-align: center;
}

.work> :nth-child(2) {
  margin-block-start: 3rem;
}

@media (min-width: 600px) and (max-width: 999px) {
  .work {
    margin-block-start: 5rem;
  }
}

@media (min-width: 1000px) {
  .work {
    margin-block-start: 7.5rem;
  }
}