.btn {
  font: inherit;
  font-size: var(--fs-400);
  font-weight: 700;
  line-height: 1.5;

  display: block;
  padding: 1rem 1.5rem;

  border: none;
  border-radius: 999px;

  &:hover {
    cursor: pointer;
  }

  &.btn--dark {
    background: var(--clr-dark);
    color: var(--clr-light);
  }

  &.btn--dark:hover {
    background: var(--clr-galactic-blue-500);
  }

  &.btn--dark:focus {
    outline: 0.2rem solid var(--clr-dark);
    outline-offset: 0.125rem;
  }

  &.btn--red {
    background: var(--clr-light-red-500);
    color: var(--clr-light);
  }

  &.btn--red:hover {
    background: var(--clr-summer-yellow-500);
  }

  &.btn--red:focus {
    outline: 0.2rem solid var(--clr-light-red-500);
    outline-offset: 0.125rem;
  }
}

@media (min-width: 600px) {
  .btn {
    padding: 1rem 3rem;
  }
}