.carousel {
  width: min(100%, 90rem);
  margin-inline: auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  position: relative;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel img {
  object-fit: cover;
  scroll-snap-align: center;
}

.carousel span {
  border: none;
  background: transparent;
}

.carousel::scroll-button(left),
.carousel::scroll-button(right) {
  margin-block-start: 2.5rem;
  display: block;
  font: inherit;
  font-size: 2rem;
  line-height: 0;

  border: none;
  border-radius: 999px;
  padding: 0;
  width: 4rem;
  height: 4rem;

  background: var(--clr-dark);
  color: var(--clr-light);
}

.carousel::scroll-button(left):hover,
.carousel::scroll-button(right):hover {
  cursor: pointer;
  background: var(--clr-galactic-blue-500);
}

.carousel::scroll-button(left):focus,
.carousel::scroll-button(right):focus {
  outline: 0.125rem solid var(--clr-galactic-blue-500);
  outline-offset: 0.125rem;
}

.carousel::scroll-button(left) {
  content: url("/assets/icon-arrow-left.svg");
  position: absolute;
  right: calc(50% + 0.5rem);
}

.carousel::scroll-button(right) {
  content: url("/assets/icon-arrow-right.svg");
  position: absolute;
  left: calc(50% + 0.5rem);
}

.carousel::-webkit-scrollbar {
  display: none;
}

@media (max-width: 599px) {
  .carousel {
    grid-auto-columns: 17.5rem;
    grid-auto-rows: 11.25rem;
    scroll-padding-inline: 1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .carousel {
    grid-auto-columns: 33.75rem;
    grid-auto-rows: 22.5rem;
    scroll-padding-inline: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .carousel {
    grid-auto-columns: 33.75rem;
    grid-auto-rows: 22.5rem;
    scroll-padding-inline: 15rem;
  }
}