@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {

  /* font-family */
  --ff-base: "Plus Jakarta Sans", sans-serif;

  /* font-size */
  /* fs-900: 56px */
  /* fs-800: 40px */
  /* fs-700: 24px */
  /* fs-600: 20px */
  /* fs-500: 18px */
  /* fs-400: 16px */

  --fs-900: 3.5rem;
  --fs-800: 2.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.25rem;
  --fs-500: 1.125rem;
  --fs-400: 1rem;

  /* color */
  --clr-light-red-500: #E16B5B;
  --clr-galactic-blue-500: #755CDE;
  --clr-summer-yellow-500: #F6A560;
  --clr-dark-purple-500: #552049;
  --clr-pink-500: #F39E9E;
  --clr-cyan-500: #61C4B7;
  --clr-dark: #030303;
  --clr-light: #FFF7F0;

  /* for text */
  --clr-accent-900: #030303;
  --clr-accent-400: #6A6662;
  --clr-accent-200: #FFF7F0;
  --clr-accent-0: #FFFFFF;

  --bg-body: #FFF7F0;

  /* for background */
  --clr-neutral-900: var(--clr-accent-200);

  /* conatiner-size: */
  /* 1120px */
  --space-lr: 1rem;
  --content-size: 69.375rem;
  --container-size: min(100% - var(--space-lr) * 2, var(--content-size));
}

@media (min-width: 600px) {
  :root {
    --space-lr: 2rem;
  }
}